doctype html
html(lang="en")
    head
        script(src="/api/static/scripts/index.browserify.js")
        link(rel="stylesheet" href="/api/static/css/index.css")  
        title File Explorer
    body
        #leftMenu
            h3 Folders
            -var array = final['/']
            -var full = final
            include treeList
        #previewPane  
            include previewPane